.css-10ltm04-MuiToolbar-root {
  background-color: cadetblue !important;
  color: aliceblue !important;
}

.makeStyles-paper-2 {
  position: relative;
  top: 200%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  position: fixed !important;
  top: 30vh !important;
}

.css-1ss2ei0-MuiContainer-root {
  max-width: 960px !important;
}
